


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes octocatWave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
* {
  user-select: none;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgba(70, 90, 126, 0.4)) !important;
  color: fieldtext !important;
}